<div style="display: flex; justify-content: center; gap: 20px">
<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :username, "Flickr username: " %>
  <%= form.text_field :username %>
  <%= form.submit "Get photos" %>
<% end %>
<%= @error if @error %>
</div>

<br>

<div style="display: flex; justify-content: center">
<% if @photos %>
    <% @photos.each do |photo| %>
        <img src=<%= photo.url_s %> alt="<%= photo.title %>" style="margin-right: 20px;">
    <% end %>
<% end %>
</div>
